@page {
    size: A4 portrait;
    margin: 8mm;
}

body div{
    margin: 0;
    font-family: Arial, sans-serif;
}

.page{
    background: white;
    width: 192mm;
    min-height: 278mm;
    box-sizing: border-box;
    overflow: hidden;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
}

.row::after{
    content:"";
    display:block;
    clear:both;
}

.col {
    float:left;
    text-align:center;

    margin: .2mm;
}

img{
    height: auto;
    display: block;
}
.camera-id{
    margin-top: 1mm;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    overflow-wrap: break-word;
    line-height: 1.1;
}

.section{
    display: inline-block;
    padding: 3mm;
    border: 2px dashed #d0d0d0;
    border-radius: 8px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

