<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="es"
>
<head>
    <meta charset="UTF-8" />
    <title>Photo Report</title>
    <link rel="stylesheet"
          type="text/css"
          href="src/main/resources/static/css/technicalMemory.css" />
</head>
<body>
<div class="page">

    <!-- HEADER -->
    <div id="header">
        <div class="row">
            <div class="col-4">
                <img src="src/main/resources/static/assets/logo.png" alt="logo" class="logo" />
            </div>
            <div class="col-16 title-header">
                <h1>MEMORIA TECNICA</h1>
                <p>Detalle de Cámara</p>
            </div>
            <div class="col-4">
                <img th:if="${branch.getClient().getPhoto().getFilePath() != null}"
                     th:src="${branch.getClient().getPhoto().getFilePath()}" class="logo" />
            </div>
        </div>
    </div>
    <!-- /HEADER -->
    <!-- FOOTER -->
    <div id="footer">
        <div class="row">
            <div class="col-12">
                <span>Sistema: </span>
                <span th:text="${branch.getClient().getName()}"></span>
                <span> - </span>
                <span th:text="${branch.getName()}"></span>
            </div>
            <div class="col-12">
                <p class="page-number">Página </p>
            </div>
        </div>
    </div>
    <!-- /FOOTER -->

    <div class="section">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="circle-logo">
                            <img src="src/main/resources/static/assets/calendar.png" class="icon" />
                        </div>
                    </div>
                    <div class="col-16">
                        <p><strong>FECHA DE IMPRESIÓN:</strong></p>
                        <p th:text="${actualDate}"></p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="circle-logo">
                            <img src="src/main/resources/static/assets/doc.png" class="icon" />
                        </div>
                    </div>
                    <div class="col-16">
                        <p><strong>PROYECTO:</strong></p>
                        <p th:text="${branch.getName()}"></p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="circle-logo">
                            <img src="src/main/resources/static/assets/doc.png" class="icon" />
                        </div>
                    </div>
                    <div class="col-16">
                        <p><strong>TOTAL DE DISPOSITIVOS:</strong></p>
                        <p th:text="${cameras.size()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-24">
            <table class="table">
                <thead>
                <tr>
                    <th>CAM ID</th>
                    <th>NOMBRE</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>NO. SERIE</th>
                    <th>MAC ADDRESS</th>
                    <th>IP ADDRESS</th>
                    <th>IDF</th>
                    <th>UBICACIÓN</th>
                    <th>USUARIO</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="camera, stat : ${cameras}">
                    <td th:text="${camera.getCameraId()}"></td>
                    <td th:text="${camera.getName()}"></td>
                    <td th:text="${camera.getBrand()}"></td>
                    <td th:text="${camera.getModel()}"></td>
                    <td th:text="${camera.getSerialNumber()}"></td>
                    <td th:text="${camera.getMacAddress()}"></td>
                    <td th:text="${camera.getIpAddress()}"></td>
                    <td th:text="${camera.getIdf()}"></td>
                    <td th:text="${camera.getLocation()}"></td>
                    <td th:text="${camera.getUsername()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</body>
</html>
