<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="es"
>
<head>
    <meta charset="UTF-8" />
    <title>Photo Report</title>
    <link rel="stylesheet"
          type="text/css"
          href="src/main/resources/static/css/qrFormat.css" />
</head>
<body>
<div class="page">
    <div class="row">
        <div th:each="camera: ${cameras}" class="col" th:style="'width:'+ ${qrSize} + 'mm;'">
            <div  class="section" >
                <img th:style="'width:'+ ${width} + 'mm;'" th:src="'data:image/png;base64,' + ${qr[camera.getId]}" />
                <div class="camera-id">
                    <div>Camera ID:</div>
                    <div th:text="${camera.getCameraId()}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
